[mysqld]
server-id = 2
relay-log = mysql-relay-bin
gtid-mode = ON
enforce-gtid-consistency = ON
read_only = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
# 从库只承担读查询,资源可以比主库低
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 128M
max_connections = 200